<!--The template|content of the main component-->
<div class="container">
  <h3>My favourite cities are:</h3>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        @for (city of cities(); track city.id) {
          <li class="list-group-item"
              (click)="updateCity(city)">
            {{ city.id }} - {{ city.name }}
            @if (city.favorite) {
              <span class="badge bg-info">Favorite!</span>
            }
            <span class="badge bg-dark float-end">{{ city.rating }}</span>
          </li>
        }
      </ul>
      <hr>
      <!-- New <city-orders> component-->
      <city-orders></city-orders>
    </div>
    <div class="col">
      @if (currentCity()) {
        <!-- Passing in the current city to the city-detail component:-->
        <city-detail [city]="currentCity()"
                     (rating)="updateRating($event)" />

        <!-- Reset the current city:-->
        <button (click)="clearCity()" class="btn btn-outline-dark">Clear</button>
      }
    </div>
  </div>
</div>
